# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/app*

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
/server/node_modules
/server/desktop-app
/server/tablet-1
/server/tablet-2
/server/tablet-3

/server/Archive.zip
